ul{
    list-style: none;
}

.nav_links{
    display: flex;
    gap: 3rem;
    flex-direction: row-reverse;
    padding-right: 6rem;
    color: white;
    align-items: center;
   

}

.menu {
    background-color: var(--color-red);
    padding: 0.3rem;
    height: max-content;
    position: fixed;
    z-index: 999;
    width: 100%;
    
    
}

.mobile_navigation {
    display: none;
}

.logo {
    width: 4rem;
}

/*============ MEDIA QUERUES (MEDIUM DEVICES) ===============*/
@media screen and (max-width: 1024px){
   
}

/*============ MEDIA QUERUES (SMALL DEVICES) ===============*/
@media screen and (max-width: 600px){

    .navigation {
        display: none;
    }
    
    .mobile_navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
      
    }

    .nav_links{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        gap: 1rem;
    }

    .hamburger{
        cursor: pointer;
    }
}


