ul{
    list-style: none;
    justify-content: center;
}

.nav_links{
    display: flex;
    gap: 3rem;
    color: white;
    padding: 0.6rem;
    align-items: center;
   
}

.menu {
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--color-red);
    height: max-content;
    position: fixed;
    z-index: 990;
    width: 100%;

}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 3rem;
    padding: 0.5rem;
}

.mobile_navigation {
    display: none;
}

.logo {
    width: 4rem;
}


/*============ MEDIA QUERUES (MEDIUM DEVICES) ===============*/
@media screen and (max-width: 1024px){
   
}

/*============ MEDIA QUERUES (SMALL DEVICES) ===============*/


@media screen and (max-width: 600px){

    .menu {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 5rem;
    }

    .navigation {
        display: none;

    }

    .mobile_navigation {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 1rem;
        width: 100%;
    }

    .mobile_menu_options{
        width: 100%;
        align-items: center;
    }

    .hamburger{
        cursor: pointer;
    }

    .nav_links{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: max-content;
        background-color: var(--color-red);
    }

    .logo{
        position:absolute;
        right: 2px;
        top: 5px;
     }
}

