ul{
    list-style: none;
}

.menu{
    display: flex;
    gap: 3rem;
    background-color: var(--color-red);
    padding: 1rem;
    flex-direction: row-reverse;
    padding-right: 6rem;
    position: fixed;
    width: 100%;
    color: white;
}