* {
  margin:  0;
  padding: 0;
  border:  0;
  outline:  0;
  box-sizing: border-box;
  list-style:  none;
  text-decoration: none;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;

  background: linear-gradient(var(--color-bg-pink) 20%, var(--color-grey)) no-repeat, var(--color-grey) no-repeat;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-bg: #041b24;
  --color-red: #ba0e3a;
  --color-brown: #a8594c;
  --color-green: #477763;
  --color-grey: #9ebdbf;
  --color-bg-pink: #edb6a2;
  --color-bg-brown: #643933;

  --transition: all 400ms ease;

  --container-width-lg:  80%;
  --container-width-md:  86%;
  --container-width-sm:  90%;
}

.container{
  padding-top: 5rem;
}

/*============ MEDIA QUERUES (MEDIUM DEVICES) ===============*/
@media screen and (max-width: 1024px){
   
}

/*============ MEDIA QUERUES (SMALL DEVICES) ===============*/
@media screen and (max-width: 600px){
  .container{

  }
}

